{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin Login</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <style>
    body {
            background: url("{% static 'img/about1.jpeg' %}") no-repeat center center fixed;
            background-size: cover;
        }
  </style>
</head>
<body class="bg-info d-flex justify-content-center align-items-center" style="height: 100vh;">

  <div class="card shadow-lg p-4" style="width: 100%; max-width: 400px; margin-left:300px; margin-top:-100px;">
    <h3 class="text-center text-primary mb-3">Admin Login</h3>

    <!-- Display Messages -->
    {% if messages %}
      {% for n in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ n }}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
      {% endfor %}
    {% endif %}

    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" name="username" class="form-control" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" name="password" class="form-control" required>
      </div>

      <div class="d-grid">
        <button class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
