{% extends 'homeownerbase.html' %}

{% block main %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Running homeowner Projects</h3>
    {% if project %}
    <table class="table">
        <tr>
            <th>S. No.</th>
            <th>Project Name</th>
            <th>Project Status</th>
            <th>Progress</th>
            <th>Contractor Name</th>
            <th>Contractor Contact</th>
            <th>Action</th>
        </tr>
        {% for p in project %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{p.projectname}}</td>
            <td>{{p.status}}</td>
            <td>{{p.progress}}</td>
            <td>{{p.contractor.name}}</td>
            <td>{{p.contractor.contactno}}</td>
            <td>
                <a href="{% url 'viewupdates' id=p.id %}" class="btn btn-primary">View Updates</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p class="text-center">You have no running Projects</p>
    {% endif %}
</body>
</html>

{% endblock %}