{% extends 'homeownerbase.html' %}

{% block main %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>View Updates</h3>
    <div class="row">
        <div class="col-sm-10 mx-auto">
            <div class="card">
                <h2> Project Name: {{project.projectname}}</h2>
                <h4>
                    project status:{{project.status}}
                </h4>

                {% if updates %}

                {% for u in updates %}
                <p class="fw-semibold">Update- {{u.progress_percent}} %</p>
                <p>
                    {{u.update_text}}
                </p>
                {% if u.image %}
                <img src="{{u.image.url}}" alt="Image" height="300" />
                {% else %}
                <p>No Image</p>
                {% endif %}
                <p class="mt-3">
                    <span class="fw-semibold">Updated By: {{u.updated_by.name}}</span>
                    <span class="float-end">At: {{u.timestamp}}</span>
                </p>
                <hr>
                {% endfor %}

                {% else %}

                <p>No update available</p>

                {% endif %}

            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}