{% extends 'contractorbase.html' %}

{% block main %}
<h3>Progress Update for <span class="text-primary">{{ project.projectname }}</span></h3>

{% if messages %}
    {% for m in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ m }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endfor %}
{% endif %}

<form method="post" enctype="multipart/form-data" class="w-75 mx-auto">
    {% csrf_token %}

    <div class="mb-3">
        <label for="ut" class="form-label">Update Text</label>
        <textarea name="update_text" class="form-control" id="ut" required></textarea>
    </div>

    <div class="mb-3">
        <label for="f" class="form-label">Upload File</label>
        <input type="file" name="image" id="f" class="form-control" required />
    </div>

    <div class="mb-3">
        <label for="d" class="form-label">Progress percent</label>
        <input type="number" value="{{ project.progress }}" name="progress_percent" id="d" class="form-control" required>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>
{% endblock %}
