{% extends 'contractorbase.html' %}


{% block main %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>Contractor Applications</h3>

    {% if messages %}
    {% for m in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ m }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endfor %}
    {% endif %}


    <table class="table">
        <tr>
            <th>S. No.</th>
            <th>Project Name</th>
            <th>Homeowner Name</th>
            <th>Design</th>
            <th>Estimated Budget</th>
            <th>Estimated Duration</th>
            <th>status</th>
            <th>Submitted At</th>
        </tr>
        {% for a in applications %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{a.project.projectname}}</td>
            <td>{{a.project.homeowner.name}}</td>
            <td>
                <a href="{{a.design_file.url}}" target="_blank" class="btn btn-primary">View</a>
            </td>

            <td>{{a.estimated_budget}}</td>
            <td>{{a.estimated_duration}}</td>
            <td>
                {% if a.status == 'pending' %}
                <span class="btn btn-warning btn-sm">Pending</span>
                {% else %}
                {% if a.status == 'approved' %}
                <span class="btn btn-success btn-sm">Approved</span>
                {% elif a.status == 'rejected' %}
                <span class="btn btn-danger btn-sm">Rejected</span>
                {% else %}
                {{ a.status }}
                {% endif %}
                {% endif %}
            </td>
            <td>{{a.submitted_at}}</td>

        </tr>
        {% endfor %}
    </table>
</body>

</html>

{% endblock %}